Unity2D/Intro_Setup/Hello World/.vscode
Unity2D/Intro_Setup/Hello World/Assets/Scenes/
Unity2D/Intro_Setup/Hello World/Assets/Scenes.meta
Unity2D/Intro_Setup/Hello World/Library
Unity2D/Intro_Setup/Hello World/Logs
Unity2D/Intro_Setup/Hello World/Packages
Unity2D/Intro_Setup/Hello World/ProjectSettings
Unity2D/Intro_Setup/Hello World/UserSettings

Unity2D/Number_Wizard_Console/Number Wizard Console/.vscode
Unity2D/Number_Wizard_Console/Number Wizard Console/Assets/Scenes/
Unity2D/Number_Wizard_Console/Number Wizard Console/Assets/Scenes.meta
Unity2D/Number_Wizard_Console/Number Wizard Console/Library
Unity2D/Number_Wizard_Console/Number Wizard Console/Logs
Unity2D/Number_Wizard_Console/Number Wizard Console/Packages
Unity2D/Number_Wizard_Console/Number Wizard Console/ProjectSettings
Unity2D/Number_Wizard_Console/Number Wizard Console/UserSettings
